<div class="container">
  <mat-card>
    <mat-card-content>
      <app-loader [isLoading]="isLoading$ | async"></app-loader>
      <form [formGroup]="form" *ngIf="(isLoading$ | async) === false">
        <div formArrayName="tripDays">
          <div *ngFor="let tripDay of tripDays.controls; let i = index" class="margin-bottom-extra">
            <div>
              <p class="mat-h1" *ngIf="i === 0">Gita: {{ baseTrip.title }}</p>
              <p class="mat-h2" *ngIf="tripDays.length > 0">Giorno {{ i + 1 }}</p>
            </div>
            <mat-divider></mat-divider>
            <div [formGroupName]="i">
              <div class="flex-row" *ngIf="i === 0">
                <mat-form-field>
                  <mat-label>Titolo</mat-label>
                  <input matInput id="title" formControlName="title" />
                </mat-form-field>
              </div>
              <div class="flex-row">
                <mat-form-field class="flex-25">
                  <mat-label>Data</mat-label>
                  <input matInput id="date" formControlName="date" [matDatepicker]="datePicker" />
                  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                  <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="flex-row">
                <mat-form-field>
                  <mat-label>Nazione</mat-label>
                  <mat-select
                    formControlName="nation"
                    [compareWith]="compareById"
                    (selectionChange)="changeNation($event)"
                  >
                    <mat-option *ngFor="let nation of nations$ | async" [value]="nation">
                      {{ nation.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="showRegion$ | async">
                  <mat-label>Regione</mat-label>
                  <input matInput id="region" formControlName="region" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Zona</mat-label>
                  <input matInput id="zone" formControlName="zone" />
                </mat-form-field>
              </div>
              <div class="flex-row">
                <mat-form-field>
                  <mat-label>Difficoltà</mat-label>
                  <mat-select formControlName="difficulty">
                    <mat-option *ngFor="let difficulty of difficulties$ | async" [value]="difficulty">
                      {{ difficulty }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Tempo di percorrenza</mat-label>
                  <input matInput id="estimatedTime" formControlName="estimatedTime" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Dislivello</mat-label>
                  <input matInput id="elevationGain" formControlName="elevationGain" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Quota di arrivo</mat-label>
                  <input matInput id="maxHeight" formControlName="maxHeight" />
                </mat-form-field>
              </div>
              <div class="flex-row">
                <mat-form-field>
                  <mat-label>Equipaggiamento</mat-label>
                  <input matInput id="gear" formControlName="gear" />
                </mat-form-field>
              </div>
              <div class="flex-row">
                <mat-form-field>
                  <mat-label>Descrizione</mat-label>
                  <textarea matInput id="description" formControlName="description" rows="5"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row flex-center">
          <button mat-raised-button color="primary" tabindex="-1" (click)="addTripDay()">
            Aggiungi giorno
            <mat-icon iconPositionEnd>add</mat-icon>
          </button>
          <button mat-raised-button color="primary" tabindex="-1" (click)="save()" [disabled]="isSaving$ | async">
            Salva
            <mat-icon iconPositionEnd>save</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
