@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.container {
  padding: 1em;
}

.flex-row {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 16px;
  justify-content: space-between;
  width: 100%;
}

.flex-center {
  justify-content: center;
}

.flex-25 {
  @media (min-width: 992px) {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.margin-bottom-extra {
  margin-bottom: 24px;
}

.mat-mdc-form-field {
  flex-grow: 1;
}

.mat-divider {
  border-color: mat.get-color-from-palette($app-primary);
  border-width: 2px 0;
  margin-bottom: 24px;
  width: 100%;
}

.mat-h1,
.mat-h2 {
  margin: 0 0 4px;
}
