@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.brand {
  color: mat.get-color-from-palette($app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.flex-hide-gt-sm {
  @media (min-width: 992px) {
    display: none;
  }
}

.flex-hide-lt-sm {
  @media (max-width: 992px) {
    display: none;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
