.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
  width: 100%;
}

.wrapper {
  flex-basis: 20%;
  max-width: 20%;
  padding: 8px;

  @media (max-width: 1201px) {
    flex-basis: 25%;
    max-width: 25%;
  }

  @media (max-width: 992px) {
    flex-basis: 33%;
    max-width: 33%;
  }

  @media (max-width: 768px) {
    flex-basis: 50%;
    max-width: 50%;
  }

  @media (max-width: 576px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
