<app-header [sidenav]="sidenav"></app-header>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span>Home</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/tripsbooklet" routerLinkActive="active">
        <span>Libretto Gite</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
